button(background)
  border-radius 4px
  background-color background
  color --button-color
  font-family PetalaPro
  line-height 2
  font-size 16.3px
  text-align center
  width 100%
  padding --base-size
  box-sizing border-box
