card-list()
  &__content
    reset(--base-size (--base-size * 3))

  &__title
    margin 0 0 (--base-size) 0

  &__text
    font-size 15px
    line-height 1.8
    text-align justify
    color --text-color
    margin (--base-size) 0

.card-item
  & + &
    margin-top --base-size * 2
