#home--banner
  reset(--base-size * 2)
  display flex
  align-items center
  background-image url("assets/bg-topo.jpg")
  flex-direction column

  @media (min-width --tablet-size)
    flex-direction row
    background-image url("assets/bg-topo@2x.jpg")

  @media (min-width --laptop-size)
    background-image url("assets/bg-topo@3x.jpg")

  picture
    text-align center

    img
      max-width: 50%;

      @media (min-width --tablet-size)
        max-width 292px
        max-height 309px

  div.banner__item
    display flex
    flex-direction: column;

    .banner__text
      reset((--base-size * 2) 0)

  .banner__item
    flex 1

  .small-text
    line-height 0.17

  .button
    text-transform uppercase
