#home--banner
  reset(--base-size * 2)
  display flex
  align-items center
  background-image url("assets/bg-topo@3x.jpg")

  @media (max-width --mobile-size)
    flex-direction column
    background-image url("assets/bg-topo.jpg")

  @media (max-width --tablet-size)
    background-image url("assets/bg-topo@2x.jpg")

  picture
    text-align center

    img
      max-width 80%

      @media (max-width --mobile-size)
        width 50%

  div.banner__item
    display flex
    flex-direction: column;

    .banner__text
      reset((--base-size * 2) 0)

  .banner__item
    flex 1

  .small-text
    line-height 0.17

  .button
    text-transform uppercase
