#home--banner
  reset(--base-size * 2)
  display flex
  flex-direction column
  align-items center
  background-image url("assets/bg-topo@3x.jpg")

  @media (max-width --mobile-size)
    background-image url("assets/bg-topo.jpg")

  @media (max-width --tablet-size)
    background-image url("assets/bg-topo@2x.jpg")

  picture
    text-align center

    img
      width 50%

  .small-text
    line-height 0.17

  .button
    text-transform uppercase
