#home--benefits
  reset(--base-size * 2)
  display flex
  flex-direction column
  align-items center
  background-image url("assets/bg-benef-cios.jpg")

  @media (max-width --tablet-size)
    background-image url("assets/bg-benef-cios@2x.jpg")

  @media (min-width --laptop-size)
    background-image url("assets/bg-benef-cios@3x.jpg")

  h1
    reset(0)
    color --mine-shaft-color-2

  .benefit__card
    card-list()

    &__item
      display flex
      flex-direction column
      align-items center

    &__title
      font-family Lato
      font-size 21px
      font-weight 900
      line-height 1.43
      color --fire-color
      text-align center
