body
  reset()
  font-family OpenSans
  font-weight normal
  font-style normal
  font-stretch normal
  letter-spacing normal
  color --mine-shaft-color
  margin-bottom --base-size * 2
  background-color --mine-shaft-color-3
