//http://chir.ag/projects/name-that-color/
--mine-shaft-color=#333333
--tundora-color=#3D383B
--meteor-color=#BF7111
--sun-color=#F7AA0F
--white-color=#FFFFFF
--rich-gold-color=#AC5908
--fire-color=#A74C03
--mine-shaft-color-2=#272727
--mine-shaft-color-3=#222222
--full-yellow-color=#EAA82D
--sushi-color=#7FBC44
