/*
  It is easy to see that I don't name colors well
  Ideally it would be based around a concept which relates to that color
*/
--text-color=#333333
--discrete-text-color=#3D383B
--primary-text-color=#BF7111
--secondary-text-color=#F7AA0F
--button-color=#FFFFFF
--primary-color=#AC5908
--wine-color=#A74C03
--strong-color=#272727
--site-color=#222222
